[Package]
version: 3
depends: 

[Product]
type: localboot
id: dfn_putty
name: dfn_putty
description: Werkzeug für (sichere) Terminalverbindungen (insbesondere SSH) [Terminal emulator for (secure) connections (especially SSH)]
advice: 
version: 0.70
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup32.opsiscript
uninstallScript: uninstall32.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: bool
name: desktop-link
description: Link on Desktop?
default: False

[Changelog]
dfn_putty (0.70-2) stable; urgency=low

Deinstallationsroutine für vorherige Paketversion 0.67 wieder eingebaut

 -- Michael Decker <m.decker@fz-juelich.de>  Tue, 19 Dec 2018 10:00:00 +0100

dfn_putty (0.70-1) stable; urgency=low

Update auf Version 0.70
Umstellung auf MSI-Paket
Kitty entfernt, da eigenes Paket verfügbar

 -- Michael Decker <m.decker@fz-juelich.de>  Tue, 18 Dec 2018 09:39:00 +0100

dfn_putty (0.66-4) stable; urgency=low

Bitte eine kurze Beschreibung erfassen.

 -- Package Maintainer <andreas.nagel@ipht-jena.de>  Mon, 30 Nov 2015 13:01:21 +0000

dfn_putty (1.0-1) stable; urgency=low

Project created with opsi Package Builder 8.0.0

 -- Package Maintainer <andreas.nagel@ipht-jena.de>  Fri, 28 Aug 2015 11:27:05 +0000

